# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# O Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
DATABASE_URL=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_EMAIL_VERIFICATION_TEMPLATE_ID=
RESEND_PASSWORD_RESET_TEMPLATE_ID=

# App
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_IMAGE_URL=

# R2
R2_ACCESS_KEY_ID=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_SECRET_ACCESS_KEY=
SECRET=
